
input {
    color: black;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
  
    /* Material.io design guidelines */
    padding: 12px 24px;
    text-align: left;
    outline: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  

body {
    color:black;
    align-items: left;
    justify-content: baseline;
    flex-wrap: wrap;
    contain: content;
    top: 100px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.continueButton {
    color: black;
    transition: right 0.2s ease-in-out;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
  
    padding: 12px 24px;
    text-align: center;
    outline: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    font-weight: 600;
    color: #333;

    float: right;
    margin: 20px; 
  }
  
  .continueButton:hover {
    background-color: #eeeeee;
  }
  
