.chart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: -50px; /* Adjust the negative margin bottom to move the pie chart up */
      
}
  
  canvas {
    width: 200px;
    height: 200px;
  }


  .data {
    background-color: white;
    margin-top: 20px; /* Adjust the top margin to bring the pie chart closer to other elements */
    margin-bottom: 70px; /* Adjust the bottom margin to bring the pie chart closer to other elements */
    padding: 20px; /* Add padding to create space around the content */
  }
  
  .data .chart-container {
    margin-bottom: 10px; /* Adjust the margin bottom for the chart container */
  }
  
  .data h1 {
    margin-bottom: 10px; /* Adjust the margin below the h1 */
  }
  